@import "variables";

#about{
  background-color: $add-color-trans;
  overflow: auto;
  color: $add-blue-color;
  #about-header{
  }
  #about-main{
    #about-picture-box{
      width: 50%;
      float: left;
      margin: 0;
      #about-picture{
        max-width: 90%;
        max-height: 350px;
        box-shadow: 0px 0px 23px 6px rgba(0,0,0,0.75);
      }
    }
    #about-text{
      //display: inline-block;
      width: 50%;
      text-align: justify;
      float: left;
      margin: 0;
      padding-left: 10px;
      border-left: solid 1px $main-color;
      min-height: 350px;
    }
  }
}
@media (max-width: 768px) {
  #about{
    text-align: center;
    #about-main{

      #about-picture-box{
        float: inherit;
        text-align: center;
        display: inline;
      }
      #about-text{
        float: none;
        display: inline;
        text-align: left;
        p{
          // text-align: center;
        }
      }
    }
  }
}
