@import "variables";

#skills{
  padding-top: 40px;
  background-color: $add-blue-color;
  color: $add-color;
  box-shadow: 0px 0px 23px 6px rgba(0,0,0,0.75);
  #skills-header{
    color: $add-yellow-color;
  }
  #skills-main{
    .skills-items{
      display: inline-block;
      // height: 135px;
      // width: 90px;
      // border: 1px solid $main-color;
      // background-repeat: no-repeat;
      // background-position: center;
      // background-size:contain;
      .html{
        color: black;
        font-size: 75px;
        .fa--html5{
        }
      }
      .html:hover{
        color: $html-color;
      }
      .css{
        color: black;
        font-size: 75px;
        cursor: pointer;
      }
      .css:hover{
        color: $css-color;
      }
      .js5{
        cursor: pointer;
      }
      .js:hover{
        background-color: $js-color;
      }
    }
    .js-text{
      display: none;
      //height: 75px;
      //width: 75px;
      //background-color: yellow;
    }
    .css-text{
      display: none;
    }
    // .skills-item1{
    //   background-image: url(../icons/html5.png);
    // }
    // .skills-item2{
    //   background-image: url(../icons/css3.png);
    // }
    // .skills-item3{
    //   background-image: url(../icons/js.png);
    // }
  }
}
