$main-color: rgb(33,59,80);
$main-color-trans: rgba(33,59,80,.6);
$add-color: rgb(238,236,225);
$add-blue-color: rgb(47, 80, 107);
$add-blue-color-trans: rgba(47, 80, 107,.6);
$add-yellow-color: rgb(232,222,84);
$add-yellow-color-trans: rgba(232,222,84,.6);
$html-color: rgb(241, 74, 41);
$css-color: rgb(0,85,153);
$js-color:rgb(229, 187, 49);
//$add-blue-color: rgb(120,190,250);
